
<% layout('/layouts/boilerplate') -%>
  <body>
    <div class="row mt-3">
      <div class="col col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form novalidate class="needs-validation"  method="POST" action="/listings" 
        enctype="multipart/form-data">
          <div class="mb-3">
              <label for="listing[title]" class="form-label">Title</label>
              <input class="form-control"
                name="listing[title]" placeholder="enter a Catchy title" 
                type="text" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Must Enter the catchy Title
                </div>
          </div>
          <div class="mb-3">
              <label for="listing[description]" class="form-label">Description</label>
              <textarea class="form-control"
              name="listing[description]"
              placeholder="Give a  description" required ></textarea>
              <div class="invalid-feedback">
                Must give a breif description
              </div>
          </div>
        <div class="row">
          <div class="col col-md-6 mb-3">
            <label for="listing[image]" class="form-label">Upload Listing Image</label>
            <input class="form-control"
            name="listing[image]"
            type="file" required />
            <div class="invalid-feedback">
              Must upload the file
            </div>
          </div>
          <div class="col col-6  mb-3">
            <label for="listing[category]" class="form-label">Category</label>
            <select class="form-select form-control" 
                name="listing[category]"
                id="listing[category]" required >
              <option selected >Choose..</option>
              <option value="Beachfronts">Beachfronts</option>
              <option value="Domes">Domes</option>
              <option value="Mountains">Mountains</option>
              <option value="Iconic City">Iconic City</option>
              <option value="Camper Vans">Camper Vans</option>
              <option value="Rooms">Rooms</option>
              <option value="Ski-in">Ski-in</option>
              <option value="Play">Play</option>
              <option value="Houseboats">Houseboats</option>
            </select>
            <div id="listing[category]" class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
        </div>  
        <div class="row">
          <div class="col col-md-4 mb-3 ">
            <label for="listing[price]" class="form-label">Pricing/night</label>
            <input name="listing[price]" placeholder="enter price" 
            type="number" class="form-control"  />
            <div class="valid-feedback">
              Looks good!
            </div> 
            <div class="invalid-feedback">
              Enter valid pricing 
            </div>
          </div>
          <div class="col col-md-8 mb-3">
              <label for="listing[country]" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" 
            type="text" class="form-control" required/>
            <div class="invalid-feedback">
              Country must be valid
            </div>
          </div>
      </div>  
         
        <div class="mb-3">
            <label for="listing[location]" class="form-label">Location</label>
            <input
            name="listing[location]"
            placeholder="enter location"
            type="text" class="form-control" required />
        </div>
            <button class="btn btn-dark add-btn mb-3">Add</button>
        </form>
      </div>
    </div>    
  
  </body>
