
<% layout('/layouts/boilerplate') -%>
<body>
    <p>
      <h1> <i> Privacy Policy </i></h1>
Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.

Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Airbnb services, that may be applicable to you.

Supplemental Privacy Policy Documents

Outside the United States
State-Specific Supplements
Cookie Policy
Enterprise Customers and Airbnb for Work
Colombia Only
Türkiye Only
Non-User DAC7 Privacy Notice
Related articles
Airbnb basics
Verifying your identity on Airbnb
At Airbnb, trust is the cornerstone of our community – where millions of people across the world place trust in each other as they travel or…
Host
Create a Danish unique code
As of 31 October 2023, Danish tax authorities (Skat.dk) have turned off the ability to create a new unique code. Hosts will not be able to c…
About the updates to our Terms
Please review this information about updates to our Terms.
    </p>
</body>
