
<% layout('/layouts/boilerplate') -%>
<p>
    Host Terms
    4. Hosting on Airbnb.
    
    4.1 Host. As a Host, Airbnb offers you the right to use the Airbnb Platform in accordance with these Terms to share your Accommodation, Experience, or other Host Service with our vibrant community of Guests - and earn money doing it. It’s easy to create a Listing and you are in control of how you host - set your price, availability, and rules for each Listing. If you are a Business Host according to Section 26 additional terms apply.
    
    4.2 Contracting with Guests. When you accept a booking request, or receive a booking confirmation through the Airbnb Platform, you are entering into a contract directly with the Guest, and are responsible for delivering the Host Service under the terms and at the price specified in your Listing. You are also agreeing to pay applicable fees like Airbnb’s service fee (and applicable taxes) for each booking. Airbnb Payments will deduct amounts you owe from your payout unless we and you agree to a different method. Any terms or conditions that you include in any supplement contract with Guests must: (i) be consistent with these Terms, our
    
    Additional Legal Terms, Policies, and the information provided in your Listing, and (ii) be prominently disclosed in your Listing description.
    
    4.3 Independence of Hosts. Your relationship with Airbnb is that of an independent individual or entity and not an employee, agent, joint venturer or partner of Airbnb, except that Airbnb Payments acts as a payment collection agent as described in the Payments Terms. Airbnb does not direct or control your Host Service and you understand that you have complete discretion whether and when to provide Host Services and at what price and on what terms to offer them.
    
    5. Managing Your Listing.
    
    5.1 Creating and Managing Your Listing. The Airbnb Platform provides tools that make it easy for you to set up and manage a Listing. Your Listing must include complete and accurate information about your Host Service, your price, other charges like cleaning fees, resort fees, offline fees, and any rules or requirements that apply to your Guests or Listing. You are responsible for your acts and omissions as well as for keeping your Listing information (including calendar availability) and content (like photos) up-to-date and accurate at all times. You are responsible for obtaining appropriate insurance for your Host Services and we suggest you carefully review policy terms and conditions like coverage details and exclusions. You may only maintain one Listing per Accommodation, but may have multiple Listings for a single property if it has multiple places to stay. Any offer of an Experience is subject to our Additional Terms for Experience Hosts.
</p>