

<% layout('/layouts/boilerplate') -%>

<div class="row mt-3">
    <h3 class="col-6">Login on WanderLust</h3>
    <div class="col col-6 offset-2">
        <form action="/login" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">UserName</label>
            <input class="form-control"
              name="username" placeholder="Enter the username" 
              type="text" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control"
              name="password" placeholder="Enter the password" 
              type="password" required />
        </div>
         <button>login</button>
      </form>
    </div>
</div>